section{
    .sec1{
        padding: 50px;
        .text{
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 50%;
            h1{
                font-size: 40px;
                font-weight: 500;
            }
            img{
                width: 20%;
            }
            p{
                font-size: 16px;
            }
        }
        .container{
            width: 100%;

        }

    }
}