.sec1{
    
    h1{
        color: white;
        font-size: 48px;
        text-align: center;
    }
    h6{
        color: white;
        font-size: 24px;
        text-align: center;
    }
    button{
    color: white;
    border-radius: 0;
    padding: 10px 20px;
    }
}
.sec2{
    height: 100vh;
    .container{
        margin-top: 100px;
        h1{
            position: relative;
            font-weight: 700;
            text-align: center;
            font-size: 42px;
            margin: 40px;
            &::before{
                content: "";
                
                width: 50px;
                height: 4px;
                background: rgb(129, 7, 7);
                position: absolute;
                left: 47%;
                bottom: -10px;
            }
        }
        p{
            text-align: center ;
            font-size: 18px;
             color: #6b6d6f;
             margin-bottom:40px;

        }
}
}


.sec3{
    height: 100vh;
    margin-bottom: 80px;
    .container{
        h1{
            position: relative;
            font-weight: 700;
            text-align: center;
            font-size: 42px;
            margin: 40px;
            &::before{
                content: "";
                
                width: 50px;
                height: 4px;
                background: rgb(129, 7, 7);
                position: absolute;
                left: 47%;
                bottom: -10px;
            }
        }
                    p{
                        text-align: center;
                        color: #868e96;
                    }
    }
}  

.sec4{
    height: 100vh;
    
    .container{
        h1{
            position: relative;
            font-weight: 700;
            text-align: center;
            font-size: 42px;
            margin: 40px;
            &::before{
                content: "";
                
                width: 50px;
                height: 4px;
                background: rgb(129, 7, 7);
                position: absolute;
                left: 47%;
                bottom: -10px;
            }
        }
                    .sec4-p{
                        text-align: center;
                        color: #868e96;
                        margin-bottom: 30px;
                    }
                    .card{
                    //    position: relative;
                        .a-trans{
                                // color: black;
                            display: none;
                    //         background: rgba(0,0,0,0.5);
                    //         text-align: center;
                    //         font-size: 28px;
                    //         &:hover{  
                    //             position: absolute;
                    //             display: block;
                    //             background:linear-gradient(180deg , rgb(87, 83, 83) -10% ,rgba(226, 223, 223, 0.2) );
                    //         }
                        }
                        .card-body{
                            .tran3s{
                                display: block;
                                font-weight: 700;
                                font-size: 20px;
                                text-transform: none;
                                color: #292929;
                                margin-bottom: 30px;
                                transition: .6s;
                                &:hover{
                                    color: red;
                                }
                            }
                            .p-top , .p-bottom{
                                text-align: left;
                                color: #444343;
                            }
                            .readmore{
                                color: black;
                                font-weight: 400;
                                transition: .6s;
                                &:hover{
                                    color: red;
                                }
                            }
                        }
                    }
    }
}