.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid red;
   
}
.link {
    margin-top: 20px;
    display: inline-block;
    background-color: aquamarine;
    width: 100px;
}
.box2{float: right;}
.box3{float: left;}
.container{ display: flex;
}


 