@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    // font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: "Montserrat", sans-serif;
}
.contain{
    
        max-width: 1200px;
        margin: 0 auto !important ; 
        padding: 0 2%;
        box-sizing: border-box;
      }