section {
  width: 1200px;
  height: 800px;
}
.all {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.minion {

  display: inline-block;
  width: 250px;
  height: 400px;
  background-image: url(minion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  display: inline-block;
  width: 400px;
  height: 200px;
  color: rgb(5, 5, 70);
}
.underline { position: relative;}
 h1::after {
  content: "";
  /* border: 1px solid rgb(22, 161, 22);
   */
   position: absolute;
   background-color: brown;
   height: 2px;
  display: block;
  width: 90px;
}
@media only screen and (max-width: 768px) {
    section { 
        width: 100%;
    }
    .minion {display: inline-block;
        width: 250px;
        height: 450px;
        background-image: url(mini.jpg);
        background-repeat: no-repeat;
        background-size: cover; }
    .all {
        justify-content: center;
        align-items: center;
      flex-direction: column;
    }
    .text{ background-color: blueviolet;
        height: 300px;
 }
 h1 { color: chartreuse;}
 p { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif};
  }
