body{
    header{
        .container{
            nav{
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        list-style: none;
                        h1{
                            font-weight: 700;
        
                        }
                        button{
                            font-weight: 300;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .container{
        width: 100%;
        // background-color: rgb(218, 218, 218);
        // .top{
           
        // }
    }

    &.dark{

       header{
        background-color: rgb(139, 21, 21);
       }
       .container{
        background-color: blue;
       }
    }
}